@media screen and (min-width : 1024px) {
    body{
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    header {
        width: 50%;
        height: 70px;
        margin: 5px 3px;
        background-color: rgb(50, 50, 231);
    }
    .first_section{
        height: 140px;
        width: 100%;
        margin: 5px 3px;
        background-color: rgb(6, 211, 6);
    }
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .part1{
        height: 140px;
        width: 30%;
        margin: 5px 3px;
        background-color: yellow;
    }
    .part2{
        height: 140px;
        width: 30%;
        margin: 5px 3px;
        background-color: yellow;
    }
    .part3{
        height: 140px;
        width: 30%;
        margin: 5px 3px;
        background-color: purple;
    }
    .part4{
        height: 140px;
        width: 30%;
        margin: 5px 3px;
        background-color: purple;
    }
    .part5{
        height: 140px;
        width: 30%;
        margin: 5px 3px;
        background-color: rgb(240, 155, 169);
    }
    .part6{
        height: 140px;
        width: 30%;
        margin: 5px 3px;
        background-color: rgb(240, 155, 169);
    }
    footer{
        height: 70px;
        width: 100%;
        margin: 5px 3px;
        background-color: red;
    }
}

